---
import BaseHead from "../../components/BaseHead.astro";
import Nav from "../../components/Nav.astro";
import Contacto from '../../components/Contacto.astro'
---
<html lang="en">
  <head>
    <BaseHead title="Contacto" description="Envíanos tus sugerencias" />
  </head>
  <body> 
    <header class="header py-space-l">
		<Nav/>
    </header>
    <main>
        <Contacto/>
    </main>
  </body>
</html>
