---
import BaseHead from "../../components/BaseHead.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
---
<html lang="en">
  <head>
    <BaseHead title="Contacto" description="Envíanos tus sugerencias" />
  </head>
  <body> 
    <header class="header py-space-l">
		<Nav/>
    </header>
    <main>
        <div class="container flow mt-space-l">
            <h1 class="mb-space-m">Acerca de nosotros</h1>
            <p>
                Bienvenido a formatossociales.com, tu destino principal para obtener los formatos y dimensiones ideales para todas tus necesidades en las redes sociales.
            </p>
                
                <p>
                  Me canse de buscar tamaños de imagenes para cada una de las redes sociales que necesitaba, tenía que leer articulos extensos para encontrar el tamaño ideal. Es por eso, que he dedicado tiempo a recopilar y organizar meticulosamente los formatos más actualizados para plataformas como Facebook, Instagram, Twitter, LinkedIn y más. Ya sea que estés buscando la imagen de portada perfecta para tu página de Facebook o necesites los tamaños precisos para tus publicaciones en Instagram, la encontrarás aquí, y las comparto con la comunidad.  
                </p>
                
                <p>
                         Además de ofrecer descargas directas de plantillas para Photoshop, Illustrator y Figma, también te comparto valiosos consejos y trucos para optimizar tu presencia en línea. 
                </p>
          
                <p>
                     En formatossociales.com, nos esforzamos por ser tu recurso confiable y de confianza en el competitivo mundo de las redes sociales. Ya seas un profesional del marketing digital, un diseñador gráfico o simplemente un entusiasta de las redes sociales, puedes aprovechar este recurso en linea para mejorar tu experiencia en las redes sociales.
                </p>
               
                <p>
                ¡Explora el sitio hoy mismo y descubre cómo puedo simplificar tu experiencia en las redes sociales!</p>
        </div>
    </main>
    <footer>
      <Footer/>
    </footer>
  </body>
</html>