---
import { curve } from "../assets"
---

<header class="text-center">
    <div class="hero | container flow">

        <h1 class="fw-regular regular m-space-auto">
          Tamaños de Imágenes para <span class="hero__sub relative fw-bold"
            ><img class="hero__curve absolute" src={curve.src} alt="" /> Redes Sociales</span
          >
        </h1>
        <h2 class="size-1 m-space-auto fw-regular">
          Descarga Gratis Plantillas Actualizadas en Figma, Photoshop &
          Illustrator.
        </h2>
      
    </div>
  </header>